page-player-new {
  ion-label {
    color: color($colors, yellow-s) !important;
  }

  .error-message {
    color: color($colors, lighter);
  }

  .item-inner,
  ion-item {
    border-bottom-color: color($colors, light) !important;
    box-shadow: none !important;
  }
}
