<ion-header>
  <ion-navbar> <ion-title>Novi Igrač</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header text-center>
      <ion-card-title color="light">Novi igrač</ion-card-title>
      <ion-note>Popunite podatke</ion-note>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="newPlayerForm">
        <ion-item>
          <ion-avatar item-start> <img [src]="imageUrl || defaultImage" /> </ion-avatar>
          <input type="file" accept="image/*" #fileInput style="display:none;" formControlName="profileImage" />
          <ion-label> Odaberi Sliku </ion-label>
          <button ion-button *ngIf="imageUrl" item-end color="red-s" (click)="clearImage()">
            <ion-icon name="close"></ion-icon>
          </button>
          <button ion-button *ngIf="!imageUrl" item-end color="yellow-t" (click)="fileInput.click()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-item>

        <ion-item lines="inset">
          <ion-label stacked>Ime i prezime</ion-label>
          <ion-input formControlName="fullName" type="text" placeholder="Ime Prezime" (ionChange)="changeImage($event)"> </ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label stacked>Status</ion-label>
          <ion-input formControlName="status" type="text" placeholder="Status..."> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dominantna ruka</ion-label>
          <ion-select value="Desna" okText="Odaberi" cancelText="Odustani" formControlName="handeness">
            <ion-option value="Desna">Desna</ion-option>
            <ion-option value="Lijeva">Lijeva</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pozicija</ion-label>
          <ion-select value="Napad" okText="Odaberi" cancelText="Odustani" formControlName="position">
            <ion-option value="Napad">Napad</ion-option>
            <ion-option value="Obrana">Obrana</ion-option>
          </ion-select>
        </ion-item>
      </form>
      <button color="yellow-t" icon-end ion-button full (click)="createNewPlayer(newPlayerForm)" [disabled]="!newPlayerForm.valid">
        Kreni
        <ion-icon name="arrow-round-forward" style="display:inline-table;"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
