page-player-profile {
  // Cover image
  #profile-bg {
    background-image: url('/assets/img/player-profile/header-bg.jpg');
    position: absolute;
    left: 0;
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  // Profile content
  #content {
    position: relative;
    margin-top: 20vh;
    padding-top: 24vh;
    text-align: center;
  }
  #profile-image {
    display: block;
    border-radius: 50%;
    height: 30vw;
    height: 30vw;
    margin: 0 auto 0;
  }
  #profile-info {
    position: absolute;
    top: -12vh;
    width: 100%;
    z-index: 2;

    p {
      color: color($colors, light);
    }
  }
  #profile-name {
    color: color($colors, lightest);
    font-size: 2.6rem;
  }
  .profile-status {
    font-size: 15px;
    color: color($colors, lighter) !important;
  }

  // GAME NUMBERS
  .profile-numbers {
    p {
      color: color($colors, light);
      font-size: medium;
      margin-bottom: 3px;
    }
    span {
      font-weight: bold;
      font-size: 2.4rem;
      color: color($colors, yellow-t);
    }
  }
  hr {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, hsla(0, 100%, 7%, 0) 0%, color($colors, yellow-s) 50%, hsla(0, 0%, 0%, 0) 100%);
  }
  .winners {
    font-weight: bolder;
    color: color($colors, lighter);
  }
  .loosers {
    font-weight: normal;
    color: color($colors, dark);
  }
}
