<!--
  Generated template for the PlayerProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Profil Igrača</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="profile-bg"></div>
  <div id="content">
    <div id="profile-info" padding-top>
      <img id="profile-image" [src]="player?.profileImage" />
      <h3 id="profile-name">{{ player?.fullName }}</h3>
      <p>
        Ruka: <strong ion-text color="yellow-t">{{ player?.handeness }}</strong> &bull; Pozicija:
        <strong ion-text color="yellow-t">{{ player?.position }}</strong>
      </p>
      <p class="profile-status">{{ player?.status }}</p>
    </div>
    <hr />
    <ion-row class="profile-numbers">
      <ion-col col-4>
        <p>Odigrano<br />Utakmica</p>
        <span>{{ playerStats?.gamesPlayed }}</span>
      </ion-col>
      <ion-col col-4>
        <p>Ukupno<br />Pobjeda</p>
        <span>{{ playerStats?.gamesWon }}</span>
      </ion-col>
      <ion-col col-4>
        <p>Golova<br />Postignuto</p>
        <span>{{ playerStats?.goalsFor }}</span>
      </ion-col>
    </ion-row>
    <hr />
  </div>
  <ion-card margin-top>
    <ion-card-header text-center>
      <p ion-text color="yellow-t">
        ZADNJA UTAKMICA
      </p>
    </ion-card-header>
    <hr />
    <button ion-item *ngFor="let game of (playerStats?.playedGames | slice: 0:1)" (click)="openGameStats(game.gameId)">
      <ion-avatar item-start style="margin-right:1rem;"> <img [src]="game?.gameImage" /> </ion-avatar>
      <ion-label item-left style="flex:auto;">
        <p class="winners">{{ (game.winners.players[0] | async) + ' | ' + (game.winners.players[1] | async) }}</p>
        <p class="loosers">{{ (game.loosers.players[0] | async) + ' | ' + (game.loosers.players[1] | async) }}</p>
      </ion-label>
      <ion-label item-right text-right>
        <p class="winners">{{ game.winners.score }}</p>
        <p class="loosers">{{ game.loosers.score }}</p>
      </ion-label>
    </button>
  </ion-card>
</ion-content>
