<div class="main-container" *ngIf="score">
  <div class="side-container blue-bg">
    <div class="intro-container">
      <div class="avatar-side"><img [src]="getImage('blue')" class="blue-bg" /></div>
      <div class="score-side">
        <div>{{ score.blue }}</div>
      </div>
    </div>
  </div>
  <div class="side-container red-bg">
    <div class="intro-container">
      <div class="score-side">
        <div>{{ score.red }}</div>
      </div>
      <div class="avatar-side"><img [src]="getImage('red')" class="red-bg" /></div>
    </div>
  </div>
</div>
