stats-header {
  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .side-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .intro-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .avatar-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
  }

  .score-side {
    width: 50%;
    color: #fff;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 20vw;
    margin: 1rem;
    border-radius: 50%;
    padding: 0.4rem;
    border: 0.4rem solid color($colors, lightest);
  }

  .red-bg {
    background: color($colors, red-s);
  }

  .blue-bg {
    background: color($colors, blue-s);
  }
}
