<ion-row>
  <ion-col no-padding>
    <ion-card color="darkest">
      <ion-label padding-left><strong ion-text color="lightest">UTAKMICE</strong><br /><small ion-text color="dark">Ukupno odigrano</small></ion-label>
      <h1 padding-left padding-bottom ion-text color="yellow-s" *ngIf="playerStats || !loading">
        {{ playerStats?.gamesPlayed || 0 }}
      </h1>
      <h1 padding-left><ion-spinner *ngIf="!playerStats && loading" color="light"></ion-spinner></h1>
    </ion-card>
  </ion-col>
  <ion-col no-padding>
    <ion-card color="darkest">
      <ion-label padding-left><strong ion-text color="lightest">GOLOVI</strong><br /><small ion-text color="dark">Ukupno postignuto</small></ion-label>
      <h1 padding-left padding-bottom ion-text color="yellow-s" *ngIf="playerStats || !loading">{{ playerStats?.goalsFor || 0 }}</h1>
      <h1 padding-left><ion-spinner *ngIf="!playerStats && loading" color="light"></ion-spinner></h1>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col no-padding>
    <ion-card color="darkest">
      <ion-label padding-left><strong ion-text color="lightest">POBJEDE</strong><br /><small ion-text color="dark">Ukupno | Postotak</small></ion-label>
      <h1 padding-left padding-bottom ion-text color="yellow-s" *ngIf="playerStats || !loading">
        {{ playerStats?.gamesWon || 0 }} | {{ (playerStats?.gamesWon / playerStats?.gamesPlayed) * 100 || 0 | number: '1.0-2' }}
        <small ion-text color="yellow-s">%</small>
      </h1>
      <h1 padding-left><ion-spinner *ngIf="!playerStats && loading" color="light"></ion-spinner></h1>
    </ion-card>
  </ion-col>
  <ion-col no-padding>
    <ion-card color="darkest">
      <ion-label padding-left><strong ion-text color="lightest">GOLOVI</strong><br /><small ion-text color="dark">Po utakmici</small></ion-label>
      <h1 padding-left padding-bottom ion-text color="yellow-s" *ngIf="playerStats || !loading">
        {{ playerStats?.goalsPercentage || 0 | number: '1.0-1' }}
      </h1>
      <h1 padding-left><ion-spinner *ngIf="!playerStats && loading" color="light"></ion-spinner></h1>
    </ion-card>
  </ion-col>
</ion-row>
