<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Moj Profil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onEditClick()"><ion-icon name="person"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- FAB BUTTON BOTTOM END -->
  <ion-fab right bottom>
    <button ion-fab color="red-t" (click)="onNewGame()"><ion-icon name="play"></ion-icon></button>
  </ion-fab>

  <ion-card>
    <info-profile [playerProfile]="playerProfile"></info-profile>
    <hr />
    <info-statistics [loading]="loading" [playerStats]="playerStats"></info-statistics>
  </ion-card>
  <info-games [playedGames]="playerStats?.playedGames"></info-games>
</ion-content>
