page-profile {
  hr {
    border: 0;
    height: 1px;
    margin: 0;
    background: -webkit-linear-gradient(left, hsla(0, 100%, 7%, 0) 0%, color($colors, yellow-s) 50%, hsla(0, 0%, 0%, 0) 100%);
  }

  .name {
    width: 80%;
    background-color: red;
  }

  .loading {
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      display: block;
      background-color: #dddfe2;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: translateX(0);
      animation: 1.5s loading-placeholder ease-in-out infinite;
    }
  }

  @keyframes loading-placeholder {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
