<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Uredi Profil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- TODO: CHANGE IMAGE -->
  <ion-card>
    <ion-list-header no-lines no-margin>
      <p ion-text color="yellow-t">Korisnički podaci</p>
    </ion-list-header>
    <ion-item>
      <button ion-button clear item-end color="yellow-t" (click)="onUpdateEmail()">Uredi</button>
      <p>Email adresa</p>
      <h2 ion-text color="light">{{ (playerProfile | async)?.email }}</h2>
    </ion-item>
    <ion-item>
      <button ion-button clear item-end color="yellow-t" (click)="onUpdatePassword()">Uredi</button>
      <p>Lozinka</p>
      <h2 ion-text color="light">&bull;&bull;&bull;&bull;&bull;&bull;</h2>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-list-header no-lines no-margin>
      <p ion-text color="yellow-t">Profil Igrača</p>
    </ion-list-header>
    <ion-item>
      <button ion-button clear item-end color="yellow-t" (click)="onUpdateName()">Uredi</button>
      <p>Ime i prezime</p>
      <h2 ion-text color="light">{{ (playerProfile | async)?.fullName }}</h2>
    </ion-item>
    <ion-item>
      <button ion-button clear item-end color="yellow-t" (click)="onUpdateStatus()">Uredi</button>
      <p>Status</p>
      <h2 ion-text color="light">{{ (playerProfile | async)?.status }}</h2>
    </ion-item>
    <ion-item>
      <button ion-button clear item-end color="yellow-t" (click)="onUpdateHandeness()">Uredi</button>
      <p>Dominantna Ruka</p>
      <h2 ion-text color="light">{{ (playerProfile | async)?.handeness }}</h2>
    </ion-item>
    <ion-item>
      <button ion-button clear item-end color="yellow-t" (click)="onUpdatePosition()">Uredi</button>
      <p>Pozicija</p>
      <h2 ion-text color="light">{{ (playerProfile | async)?.position }}</h2>
    </ion-item>
  </ion-card>
</ion-content>
