<!-- MY GAMES -->
<ion-card padding-bottom>
  <ion-card-header>
    <ion-card-title color="yellow-s">
      Zadnje Utakmice
      <button *ngIf="playedGames && playedGames.length > 3" color="red-t" outline ion-button no-margin float-right small icon-end (click)="listAllGames()">
        VIDI SVE <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </ion-card-title>
  </ion-card-header>
  <button ion-item *ngFor="let game of (playedGames | slice: 0:3)" (click)="openGameStats(game.gameId)">
    <ion-avatar item-start style="margin-right:1rem;"> <img [src]="game?.gameImage" /> </ion-avatar>
    <ion-label item-left style="flex:auto;">
      <p class="winners">{{ (game.winners.players[0] | async) + ' | ' + (game.winners.players[1] | async) }}</p>
      <p class="loosers">{{ (game.loosers.players[0] | async) + ' | ' + (game.loosers.players[1] | async) }}</p>
    </ion-label>
    <ion-label item-right text-right>
      <p class="winners">{{ game.winners.score }}</p>
      <p class="loosers">{{ game.loosers.score }}</p>
    </ion-label>
  </button>
  <h1 padding-left *ngIf="loading">
    <ion-spinner color="light"></ion-spinner>
  </h1>
  <ion-item *ngIf="!playedGames && !loading">
    <p ion-text color="dark">0 utakmica pronađeno...</p>
  </ion-item>
</ion-card>
