<!-- CHART -->
<ion-card-content>
  <div text-center>
    <ion-note class="game-time">UTAKMICA ODIGRANA<br />{{ finishedTime?.seconds * 1000 | date: 'medium' }}</ion-note>
  </div>
  <canvas
    baseChart
    width="800"
    height="600"
    [datasets]="chartDatasets"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
  >
  </canvas>
  <div text-right>
    <ion-note ion-text class="id-text">ID: {{ gameID }}</ion-note>
  </div>
</ion-card-content>
