<!-- TIMELINE -->
<ion-card *ngFor="let entry of timeline">
  <ion-card-content>
    <small ion-text color="yellow-s"> <ion-icon name="stopwatch" color="yellow-s"></ion-icon>&nbsp;&nbsp; {{ entry.time }} </small>
    <p ion-text color="light">
      {{ entry.text }}<span float-right>{{ entry.score }}</span>
    </p>
  </ion-card-content>
</ion-card>
