page-password-reset {
  hr {
    border: 0;
    height: 1px;
    margin: 0;
    background: -webkit-linear-gradient(left, hsla(0, 100%, 7%, 0) 0%, color($colors, yellow-s) 50%, hsla(0, 0%, 0%, 0) 100%);
  }

  .logo-large {
    width: 40vw;
  }

  img {
    display: inline;
  }
}
