<ion-header>
  <ion-navbar> <ion-title>Zaboravljena lozinka</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header text-center>
      <p ion-text color="light" text-wrap>
        Unesite email adresu na koju želite primiti upute za resetiranje lozinke.
      </p>
    </ion-card-header>
    <hr />
    <ion-card-content>
      <form [formGroup]="resetPasswordForm">
        <ion-item>
          <ion-label stacked color="light">Vaša Email Adresa</ion-label>
          <ion-input formControlName="email" type="email" placeholder="@pis.eu.com"> </ion-input>
        </ion-item>
        <small padding *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">
          Unesite ispravnu email adresu!
        </small>
        <small
          padding
          *ngIf="resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched && resetPasswordForm.hasError('invalidDomain')"
        >
          Neispravna domena email adrese!
        </small>
      </form>
      <button ion-button full margin-top (click)="onResetPassword(resetPasswordForm)" [disabled]="!resetPasswordForm.valid">
        Resetiraj lozinku
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
