// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: '../assets/fonts';

@import 'ionic.globals';
@import './ph-loading/variables';
@import './ph-loading/layout';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #f5f6fa;
$background-color: #080808;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  // CUSTOM,
    white: #fff,
  lightest: #ecf0f1,
  lighter: #bdc3c7,
  light: #95a5a6,
  dark: #7f8c8d,
  darker: #34495e,
  darkest: #2c3e50,
  black: #000,
  blue-t: #3498db,
  blue-s: #2980b9,
  red-t: #e74c3c,
  red-s: #c0392b,
  green-t: #2ecc71,
  green-s: #27ae60,
  yellow-t: #f1c40f,
  yellow-s: #f39c12
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import 'ionic.theme.dark';
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import 'ionic.ionicons';
// Fonts
// --------------------------------------------------
@import 'roboto';
@import 'noto-sans';

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900&subset=latin-ext');

.alert-wrapper {
  background-color: #151515 !important;

  .alert-head {
    color: color($colors, yellow-t) !important;
  }
  .alert-radio-icon {
    border-color: color($colors, yellow-s) !important;
  }
  .alert-radio-inner {
    background-color: color($colors, yellow-s) !important;
  }
  .alert-radio-label {
    color: color($colors, yellow-s) !important;
  }
}

$font-family-base: 'Exo 2';
$font-family-md-base: 'Exo 2';
$font-family-ios-base: 'Exo 2';
$font-family-wp-base: 'Exo 2';
$font-size-base: 14px;
