<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <div padding margin-top text-center>
          <img class="logo-large" src="./assets/img/app-logo.png" />
        </div>
        <div text-center>
          <ion-card-title color="light">Dobrodošli</ion-card-title>
          <ion-note>Prijava u aplikaciju</ion-note>
        </div>

        <form [formGroup]="signinForm">
          <ion-list inset>
            <ion-item>
              <ion-label stacked>Email Adresa</ion-label>
              <ion-input formControlName="email" type="email" placeholder="@pis.eu.com"> </ion-input>
            </ion-item>
            <small padding-top class="error-message" *ngIf="!signinForm.controls['email'].valid && signinForm.controls['email'].touched">
              Unesite ispravnu email adresu!
            </small>
            <small
              padding-top
              class="error-message"
              *ngIf="signinForm.controls['email'].valid && signinForm.controls['email'].touched && signinForm.hasError('invalidDomain')"
            >
              Neispravna domena email adrese!
            </small>

            <ion-item>
              <ion-label stacked>Lozinka</ion-label>
              <ion-input formControlName="password" type="password" [placeholder]="'&bull;&bull;&bull;&bull;&bull;&bull;'"> </ion-input>
            </ion-item>
            <small padding-top class="error-message" *ngIf="!signinForm.controls['password'].valid && signinForm.controls['password'].touched">
              Lozinka mora sadržavati minimalno 6 znakova!
            </small>
          </ion-list>
        </form>
        <div padding>
          <button large ion-button full icon-end (click)="onSigninUser(signinForm)" [disabled]="!signinForm.valid" color="yellow-t">
            Prijava <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </div>
        <div padding>
          <button ion-button small full clear (click)="onCreateAccount()" color="red-t">Otvori novi račun</button>

          <button ion-button small full clear (click)="onForgotPassword()" color="red-t">Zaboravljena lozinka?</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
