page-signin {
  .logo-large {
    width: 40vw;
  }

  $height100: 100%;

  ion-grid {
    width: 100%;
    height: $height100;
  }

  ion-row {
    height: $height100;
  }

  ion-col {
    background-color: #242424;
  }

  ion-label {
    color: color($colors, yellow-s) !important;
  }

  .error-message {
    color: color($colors, lighter);
  }

  .item-inner,
  ion-item {
    border-bottom-color: color($colors, light) !important;
    box-shadow: none !important;
  }
}
