<ion-card [color]="side === 'blue' ? 'blue-s' : 'red-s'">
  <ion-card-header>
    <ion-note color="lightest">
      Odabir Igrača
      <button
        ion-button
        icon-start
        no-margin
        small
        outline
        float-right
        color="lightest"
        (click)="onSwapPositions(side)"
        *ngIf="gamePlayers.blue1 && gamePlayers.blue2"
      >
        <ion-icon name="swap"></ion-icon> POZICIJE
      </button>
    </ion-note>
    <ion-card-title class="team-title"> Ekipa {{ side === 'blue' ? 'PLAVI' : 'CRVENI' }} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col text-center col-5>
        <div class="item">
          <ion-badge class="remove-player" color="white" *ngIf="!isCurrentUser(side + 1)" (click)="onRemovePlayer(side + 1)">
            <ion-icon name="close" color="red-t"></ion-icon>
          </ion-badge>
          <img [src]="gamePlayers[side + 1]?.profileImage || 'https://ui-avatars.com/api/?name=?&size=256'" (click)="onSelectPlayer(side + '1')" />
        </div>
        <h3>
          {{ gamePlayers[side + 1]?.fullName || 'Odaberi' }}
          <ion-badge color="yellow-t" class="pos-tag">GK</ion-badge>
        </h3>
      </ion-col>
      <ion-col text-center col-2 align-self-center> <h1>&</h1> </ion-col>
      <ion-col text-center col-5>
        <div class="item">
          <ion-badge class="remove-player" color="white" *ngIf="!isCurrentUser(side + 2)" (click)="onRemovePlayer(side + 2)">
            <ion-icon name="close" color="red-t"></ion-icon>
          </ion-badge>
          <img [src]="gamePlayers[side + 2]?.profileImage || 'https://ui-avatars.com/api/?name=?&size=256'" (click)="onSelectPlayer(side + '2')" />
        </div>
        <h3>
          {{ gamePlayers[side + 2]?.fullName || 'Odaberi' }}
          <ion-badge color="yellow-t" class="pos-tag">CF</ion-badge>
        </h3>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
