choose-players {
  ion-row ion-col img {
    border-radius: 50%;
    width: 24vw;
    margin: auto;
    display: block;
    padding: 0.3rem;
    border: 0.3rem solid white;
  }
  .item {
    position: relative;
    display: inline-block;
  }
  .remove-player {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    border-radius: 0.8rem;
    color: white;
    font-size: 1.4rem;
  }

  .team-title {
    padding: 0.4rem 0;
    font-size: 2.2rem;
  }
}
