<div *ngIf="!playerProfile; else profile">
  <ion-item>
    <ion-row>
      <ion-col col-2 no-padding>
        <div class="avatar-wrapper">
          <div class="avatar content-placeholder">&nbsp;</div>
        </div>
      </ion-col>
      <ion-col col-10>
        <div class="content-placeholder" style="width:35vw;height:1rem">&nbsp;</div>
        <br />
        <div class="content-placeholder" style="width:65vw;height:1rem">&nbsp;</div>
        <br />
        <div class="content-placeholder" style="width:55vw;height:1rem">&nbsp;</div>
      </ion-col>
    </ion-row>
  </ion-item>
</div>

<ng-template #profile>
  <ion-item>
    <ion-avatar item-start> <img *ngIf="playerProfile" [src]="(playerProfile | async)?.profileImage" /> </ion-avatar>
    <ion-label>
      <h3 ion-text color="red-t">
        <strong>{{ (playerProfile | async)?.fullName }}</strong>
      </h3>
      <ion-note ion-text color="dark">{{ (playerProfile | async)?.status }} </ion-note><br />
      <small ion-text color="lighter">
        Dominantna ruka: <strong ion-text color="yellow-s">{{ (playerProfile | async)?.handeness }}</strong> | Pozicija:
        <strong ion-text color="yellow-s">{{ (playerProfile | async)?.position }}</strong>
      </small>
    </ion-label>
  </ion-item>
</ng-template>
