<!-- MAIN MENU -->
<ion-menu [content]="content" id="main-menu">
  <ion-content>
    <div class="menu-header">
      <img class="user-avatar round" *ngIf="playerProfile" [src]="playerProfile?.profileImage" />
      <p class="name">{{ playerProfile?.fullName }}</p>
      <p class="e-mail">{{ playerProfile?.email }}</p>
    </div>
    <ion-list no-lines>
      <div *ngFor="let p of pages">
        <ion-item-divider no-lines color="" *ngIf="p.type === 'header'">{{ p.title }}</ion-item-divider>
        <button menuClose *ngIf="p.type === 'page'" ion-item detail-none (click)="openPage(p)" [class.active-highlight]="checkActivePage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          {{ p.title }}
        </button>
        <button menuClose *ngIf="p.type === 'command'" ion-item detail-none (click)="processCommand(p.command)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          {{ p.title }}
        </button>
      </div>
    </ion-list>
  </ion-content>
  <ion-footer no-border class="bg-color">
    <ion-row style="height:100%;">
      <ion-col align-self-center>
        <small ion-text color="yellow-t"><strong class="app-version">VERZIJA: 0.0.1-alpha</strong></small>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-menu>

<!-- APP CONTENT -->
<ion-nav #content [root]="rootPage"></ion-nav>
