#main-menu {
  .menu-header {
    padding: 5px 15px;
    background-image: url('/assets/img/player-profile/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    .round {
      border-radius: 50%;
    }

    .name {
      font-weight: 700;
      margin-bottom: 0.2rem;
    }

    .e-mail {
      margin-top: 0;
      margin-bottom: 0.4rem;
    }
  }
  .user-avatar {
    padding: 0.6rem;
    height: 12vh;
  }
  h3,
  .label {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }

  ion-item-divider {
    background-color: #242424;
  }

  .active-highlight {
    // background-color: $lightest;
    .icon {
      color: color($colors, yellow-t);
    }
    .label {
      color: color($colors, yellow-t);
    }
  }
}
ion-menu {
  .scroll-content,
  .bg-color {
    background: #242424;
  }
}
