<!--
  Generated template for the GameNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Nova Utakmica</ion-title>
    <ion-buttons end *ngIf="allSelected()">
      <button ion-button icon-only (click)="onSwapTeams()"><ion-icon name="swap" class="r90"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- BLUE TEAM -->
  <choose-players
    [side]="'blue'"
    [gamePlayers]="gamePlayers"
    [fixedPlayer]="fixedPlayer"
    (onPlayerSelect)="selectPlayer($event)"
    (onPlayerRemove)="removePlayer($event)"
    (onPositionSwap)="swapPositions($event)"
  >
  </choose-players>

  <div text-center ion-text color="yellow-t"><h5>- PROTIV -</h5></div>

  <!-- RED TEAM -->
  <choose-players
    [side]="'red'"
    [gamePlayers]="gamePlayers"
    [fixedPlayer]="fixedPlayer"
    (onPlayerSelect)="selectPlayer($event)"
    (onPlayerRemove)="removePlayer($event)"
    (onPositionSwap)="swapPositions($event)"
  >
  </choose-players>
  <ion-card class="welcome-card">
    <ion-card-header> <ion-note>PRAVILA IGRE</ion-note> </ion-card-header>
    <ion-card-content> Pobjednik je ekipa koja prva postigne 10 golova.</ion-card-content>
    <ion-item>
      <ion-label>DVA GOLA RAZLIKE<br /><small>Ekipa mora pobijediti sa dva gola razlike </small></ion-label>
      <ion-toggle [(ngModel)]="goalRule"></ion-toggle>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button solid color="primary" small (click)="startGame()" icon-end [disabled]="!isGameReady">
        Započni igru
        <ion-icon style="display:inline-table;" name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
