page-game-new {
  #backgroundimage {
    object-fit: cover;
    height: 100%;
    position: absolute;
    opacity: 0.2;
  }

  .r90 {
    display: inline-block;
    transform: rotate(90deg);
  }

  .pos-tag {
    display: inline;
    font-size: 1rem;
  }

  .toggle-icon {
    background-color: color($colors, darkest) !important;
  }
  .toggle-inner {
    background-color: color($colors, darker) !important;
  }
  .toggle-checked .toggle-inner {
    background-color: color($colors, yellow-t) !important;
  }
}
