<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Welcome intro
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="signup()">signup</button>
    <button ion-button block (click)="login()" class="login">login</button>
  </div>
</ion-content>
