<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Detalji Utakmice</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- SCORE HEADER -->
    <stats-header [score]="score"></stats-header>

    <ion-row *ngIf="playerMap">
      <ion-col text-left>
        <h6 *ngFor="let p of getPlayers('blue')" class="player-name blue">{{ p?.playerName }}</h6>
      </ion-col>
      <ion-col text-right>
        <h6 *ngFor="let p of getPlayers('red')" class="player-name red">{{ p?.playerName }}</h6>
      </ion-col>
    </ion-row>
    <hr />
    <!-- CHART -->
    <stats-chart [chartDatasets]="chartDatasets" [finishedTime]="gameData?.finishedTime" [gameID]="gameData?.id"></stats-chart>
  </ion-card>

  <!-- TIMELINE -->
  <stats-timeline [timeline]="timeline"></stats-timeline>
</ion-content>
