page-game-stats {
  .game-time {
    font-size: 0.8rem;
    font-weight: normal;
  }

  .timeline-time {
    color: color($colors, dark);
  }

  .player-name {
    margin: 0.2rem;
  }

  .blue {
    color: color($colors, blue-t);
  }

  .red {
    color: color($colors, red-t);
  }

  hr {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, hsla(0, 100%, 7%, 0) 0%, color($colors, yellow-t) 50%, hsla(0, 0%, 0%, 0) 100%);
  }
}
