page-game-play {
  .scroll-content {
    background: url('/assets/img/game-play/soccer-field.svg') no-repeat center center/cover;
  }
  ion-toolbar {
    padding: 0 !important;
  }

  .score {
    font-size: 2rem;
    font-weight: bold;
  }

  .main-container {
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  ion-row ion-col img {
    border-radius: 50%;
    width: 22vw;
    width: 22vw;
    overflow: hidden;
    margin: auto;
    display: block;
    padding: 0.2rem;
    margin-bottom: -0.6rem;
    background-color: color($colors, lightest);
  }

  .img-blue {
    border: 0.4rem solid color($colors, blue-t);
  }
  .img-red {
    border: 0.4rem solid color($colors, red-t);
  }

  .player-name {
    font-size: 1.4rem;
    display: inline;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
  }

  .player-blue {
    color: color($colors, lightest);
    background-color: color($colors, blue-t);
  }

  .player-red {
    color: color($colors, lightest);
    background-color: color($colors, red-t);
  }

  // OVERLAY MENU
  .game-menu,
  .player-selected-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .game-menu {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .player-selected-overlay {
    background: url('/assets/img/game-play/soccer-field-simple.svg') no-repeat center center/cover;
  }

  .game-menu-content,
  .player-selected-content {
    align-self: center;
    text-align: center;
  }
  .game-menu-content {
    width: 100%;
  }
  .player-selected-content {
    width: 33%;
  }

  .goal-icon {
    font-size: 4rem;
  }
  .player img {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    margin: auto;
    display: block;
    padding: 0.2rem;
    margin-bottom: -0.6rem;
  }
}
