<ion-header>
  <ion-toolbar color="black">
    <ion-row style="width:100%;height:100%">
      <ion-col text-center class="player-red">
        <h3 class="score">{{ redScore }}</h3>
      </ion-col>
      <ion-col text-center align-self-center>
        <button ion-button icon-end *ngIf="!showPause" color="green-t" style="font-weight:700" block (click)="onGameTimeClicked()">
          {{ elapsedTime }}
          <ion-icon name="pause"></ion-icon>
        </button>
        <button ion-button *ngIf="showPause" color="green-t" style="font-weight:900;" disabled>PAUZA</button>
      </ion-col>
      <ion-col text-center class="player-blue">
        <h3 class="score">{{ blueScore }}</h3>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FLEX CONTAINER -->
  <div class="main-container">
    <!-- TOP - RED SIDE -->
    <ion-row style="flex: 1;  align-items: center;">
      <ion-col text-center>
        <ion-row padding-bottom>
          <ion-col (click)="onPlayerClicked(gamePlayers.red1, 'red')">
            <img class="img-red" [src]="gamePlayers.red1.profileImage" />
            <ion-label class="player-name player-red">{{ gamePlayers.red1.fullName }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="onPlayerClicked(gamePlayers.red2, 'red')">
            <img class="img-red" [src]="gamePlayers.red2.profileImage" />
            <ion-label class="player-name player-red">{{ gamePlayers.red2.fullName }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- BOTTOM - BLUE SIDE -->
    <ion-row style="flex: 1;  align-items: center;">
      <ion-col text-center>
        <ion-row padding-bottom>
          <ion-col (click)="onPlayerClicked(gamePlayers.blue2, 'blue')">
            <img class="img-blue" [src]="gamePlayers.blue2.profileImage" />
            <ion-label class="player-name player-blue">{{ gamePlayers.blue2.fullName }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="onPlayerClicked(gamePlayers.blue1, 'blue')">
            <img class="img-blue" [src]="gamePlayers.blue1.profileImage" />
            <ion-label class="player-name player-blue">{{ gamePlayers.blue1.fullName }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <!-- GAME MENU -->
  <!-- TODO: SEPARATE COMPONENT MAYBE? -->
  <div class="game-menu" *ngIf="gameMenu">
    <div class="game-menu-content">
      <button ion-button color="green-t" icon-end (click)="onContinueGameClicked()">
        Nastavi igru
        <ion-icon slot="end" name="play"></ion-icon>
      </button>
      <br />
      <br />
      <button ion-button color="blue-t" icon-end (click)="onUndoLastGoalClicked()">Poništi zadnji gol <ion-icon slot="end" name="undo"></ion-icon></button>
      <br />
      <br />
      <button ion-button color="red-t" icon-end (click)="onEndGameClicked()">Završi igru <ion-icon slot="end" name="close"></ion-icon></button> <br />
      <br />
    </div>
  </div>

  <!-- PLAYER SELECTED MENU -->
  <!-- TODO: SEPARATE COMPONENT MAYBE? -->
  <div class="player-selected-overlay" *ngIf="playerSelected">
    <div class="player-selected-content">
      <button ion-button round color="red-t" large (click)="onGoalClick(playerSelected, 'own')"><ion-icon name="remove"></ion-icon></button>
    </div>
    <div class="player-selected-content">
      <div class="player" (click)="onPlayerClicked(playerSelected.player)">
        <img [class]="'img-' + playerSelected.team" [src]="playerSelected.player.profileImage" />
        <ion-note [class]="'player-name player-' + playerSelected.team">{{ playerSelected.player.fullName }}</ion-note>
      </div>
    </div>
    <div class="player-selected-content">
      <button ion-button round color="blue-t" large (click)="onGoalClick(playerSelected, 'normal')"><ion-icon name="add"></ion-icon></button>
    </div>
  </div>
</ion-content>
