<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <div padding margin-top text-center>
          <img class="logo-large" src="./assets/img/app-logo.png" />
        </div>
        <div text-center>
          <ion-card-title color="light">Dobrodošli</ion-card-title>
          <ion-note>Otvaranje korisničkog računa</ion-note>
        </div>
        <form [formGroup]="signupForm" novalidate>
          <ion-list inset>
            <ion-item>
              <ion-label stacked>Email Adresa</ion-label>
              <ion-input formControlName="email" type="email" placeholder="@pis.eu.com"> </ion-input>
            </ion-item>
            <small padding-top *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
              Unesite ispravnu email adresu!
            </small>
            <small padding-top *ngIf="signupForm.controls['email'].valid && signupForm.controls['email'].touched && signupForm.hasError('invalidDomain')">
              Neispravna domena email adrese!
            </small>

            <ion-item>
              <ion-label stacked>Lozinka</ion-label>
              <ion-input formControlName="password" type="password" [placeholder]="'&bull;&bull;&bull;&bull;&bull;&bull;'"> </ion-input>
            </ion-item>
            <small padding-top *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
              Lozinka mora sadržavati minimalno 6 znakova!
            </small>

            <ion-item>
              <ion-label stacked>Ponovite lozinku</ion-label>
              <ion-input formControlName="confirmPassword" type="password" [placeholder]="'&bull;&bull;&bull;&bull;&bull;&bull;'"> </ion-input>
            </ion-item>
            <small
              padding-top
              *ngIf="signupForm.controls['password'].valid && signupForm.controls['confirmPassword'].touched && signupForm.hasError('mismatchedPasswords')"
            >
              Lozinke se ne podudaraju!
            </small>
          </ion-list>
        </form>
        <div padding>
          <button large ion-button full icon-end (click)="signupUser(signupForm)" [disabled]="!signupForm.valid" color="yellow-t">
            Otvori Račun <ion-icon style="display:inline-table;" name="arrow-forward"></ion-icon>
          </button>
        </div>
        <div padding>
          <button ion-button small full clear color="red-t" (click)="onUserExists()">Postojeći korisnik?</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
