<!--
  Generated template for the PlayersListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Lista Igrača</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let player of (playersList | async)">
    <button ion-item (click)="openPlayerStats(player)">
      <ion-avatar item-start> <img *ngIf="player" [src]="player.profileImage" /> </ion-avatar>
      <ion-label>
        <h3 ion-text color="light">
          <strong>{{ player.fullName }}</strong>
        </h3>
      </ion-label>
      <ion-icon color="light" name="arrow-dropright" small item-end></ion-icon>
    </button>
  </ion-card>
</ion-content>
