<!--
  Generated template for the PlayerSelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end> <button ion-button (click)="dismissModal()">Zatvori</button> </ion-buttons>
    <ion-title>Lista Igrača</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let user of (users | async)" (click)="selectPlayer(user)">
      <ion-avatar item-start> <img [src]="user.profileImage" /> </ion-avatar>
      <ion-label>
        <h2>{{ user.fullName }}</h2>
        <h3>{{ user.status }}</h3>
        <p>
          Domin. ruka: <strong>{{ user.handeness | uppercase }}</strong> | Pozicija: <strong>{{ user.position | uppercase }}</strong>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
