<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button> <ion-title>Moje Utakmice</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="playedGames.length; else nogames">
    <ion-card *ngFor="let game of playedGames">
      <ion-item button (click)="openGameStats(game.gameId)" lines="none">
        <ion-avatar item-start> <img [src]="game?.gameImage" /> </ion-avatar>
        <ion-label item-left style="flex:auto;">
          <p class="winners">{{ (game.winners.players[0] | async) + ' | ' + (game.winners.players[1] | async) }}</p>
          <p class="loosers">{{ (game.loosers.players[0] | async) + ' | ' + (game.loosers.players[1] | async) }}</p>
        </ion-label>
        <ion-label item-right text-right>
          <p class="winners">{{ game.winners.score }}</p>
          <p class="loosers">{{ game.loosers.score }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <ng-template #nogames>
    <ion-card>
      <ion-item>
        <p ion-text color="dark">0 utakmica pronađeno...</p>
      </ion-item>
    </ion-card>
  </ng-template>
</ion-content>
